
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #fafafa;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #fafafa;
}
.tabs ul.primary li a.active {
  background-color: #fafafa;
}
.tabs ul.primary li.active a {
  background-color: #fafafa;
  border-bottom: 1px solid #fafafa;
}
#header {
  background-color: #4e4e4e;
  background-image: -moz-linear-gradient(top, #4a4a4a 0%, #4e4e4e 100%);
  background-image: -ms-linear-gradient(top, #4a4a4a 0%, #4e4e4e 100%);
  background-image: -o-linear-gradient(top, #4a4a4a 0%, #4e4e4e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4a4a), color-stop(1, #4e4e4e));
  background-image: -webkit-linear-gradient(top, #4a4a4a 0%, #4e4e4e 100%);
  background-image: linear-gradient(top, #4a4a4a 0%, #4e4e4e 100%);
}
a {
  color: #0095DD;
}
a:hover,
a:focus {
  color: #00539F;
}
a:active {
  color: #24aeff;
}
.sidebar .block {
  background-color: #fafafa;
  border-color: #fafafa;
}
#page-wrapper,
#footer-wrapper {
  background: #161617;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fafafa;
}
